<div class="zagolovoknovyn" id="News">GPU`s</div>

<div class="novyny">
    <div class="elemNovyny"> <img class="imgNews" src="assets/img/1n.jpg" alt="nerabotaet"> <h2>{{NewsList[0].name}}</h2> <div>{{NewsList[0].text}}</div> <div class="{{dodinfa1}}">{{NewsList[0].longText}}</div><img (click) ="DodText1()"  class="add" src="assets/img/more.png" alt=""></div>

    <div class="elemNovyny"> <img class="imgNews" src="assets/img/2n.webp" alt="nerabotaet"> <h2>{{NewsList[1].name}}</h2> <div>{{NewsList[1].text}}</div>  <div class="{{dodinfa2}}">{{NewsList[1].longText}}</div> <img (click) ="DodText2()"  class="add" src="assets/img/more.png" alt=""></div>

    <div class="elemNovyny"> <img class="imgNews" src="assets/img/3n.jpg" alt="nerabotaet"> <h2>{{NewsList[2].name}}</h2> <div>{{NewsList[2].text}}</div>  <div class="{{dodinfa3}}">{{NewsList[2].longText}}</div><img (click) ="DodText3()"  class="add" src="assets/img/more.png" alt=""></div>
</div>