$color1: #766666
$color2: #7c5c64
$color3: #a92a2e
$color4: #1e1c1c
    
*
    font-family: Roboto
    margin: 0px
    padding: 0px
header
    background-color: $color3

.imgVst
    min-height: 1000px
    background-image: url("assets/img/1.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.tema
    padding-top: 50px
    text-align: center
    font-size: 100pt
    color: $color3


footer
    background-color: $color2
    color: $color4
    text-align: center
    padding: 10px

.zagolovoknovyn
    padding-top: 50px
    text-align: center
    font-size: 80pt
.novyny
    display: flex
    padding: 5px
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    .elemNovyny
        width: 25%
        min-width: 150px
        margin: 20px
        text-align: justify
        display: flex
        flex-direction: column
        h2
            padding: 10px
            text-align: center
    .add
        height: 100px
        width: 100px
        cursor: pointer
        margin-left: auto
        margin-right: auto
            
.sylka
    padding: 10px
    font-size: 30pt
    padding-right: 40px
    &:hover
        background-color: $color2
    a
        text-decoration: none
        color: black
.MenuClick
    display: none
    img
        height: 100px
        width: 100px
        cursor: pointer
        margin-left: auto
        margin-right: auto


.imgNews
    max-height: 500px
    align-items: center

.NONE 
    display: none

.button
    cursor: pointer
    &:hover
        background-color: $color3

//переведення колонку при розміру екрана менше 650 Px
@media screen and (max-width: 650px)
    .novyny
        flex-direction: column
        .elemNovyny
            width: 60%
            padding-bottom: 40px
    .tema
        font-size: 50pt
    .MenuClick
        display: block
    .menu
        flex-direction: column
    
@media screen and (min-width: 651px)
    #NONE 
        display: block
        
    .menu
        display: flex
        justify-content: left
        flex-wrap: wrap
